Linear regression is a statistical method used to predict a value of variable based on value of other variable.The variable you want to predict is dependent variable.The variable you are using to predict the other variable's value is called the independent variable.

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("MagicBricks.csv")

In [4]:
df.head()

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Price,Status,Transaction,Type,Per_Sqft
0,800.0,3,2.0,Semi-Furnished,Rohini Sector 25,1.0,6500000,Ready_to_move,New_Property,Builder_Floor,NaN
1,750.0,2,2.0,Semi-Furnished,"J R Designers Floors, Rohini Sector 24",1.0,5000000,Ready_to_move,New_Property,Apartment,6667.0
2,950.0,2,2.0,Furnished,"Citizen Apartment, Rohini Sector 13",1.0,15500000,Ready_to_move,Resale,Apartment,6667.0
3,600.0,2,2.0,Semi-Furnished,Rohini Sector 24,1.0,4200000,Ready_to_move,Resale,Builder_Floor,6667.0
4,650.0,2,2.0,Semi-Furnished,Rohini Sector 24 carpet area 650 sqft status R...,1.0,6200000,Ready_to_move,New_Property,Builder_Floor,6667.0

In [5]:
df = df.drop_duplicates()

In [6]:
df = df.drop(['Parking','Status'],axis= "columns")

In [7]:
df

,Area,BHK,Bathroom,Furnishing,Locality,Price,Transaction,Type,Per_Sqft
0,800.0,3,2.0,Semi-Furnished,Rohini Sector 25,6500000,New_Property,Builder_Floor,NaN
1,750.0,2,2.0,Semi-Furnished,"J R Designers Floors, Rohini Sector 24",5000000,New_Property,Apartment,6667.0
2,950.0,2,2.0,Furnished,"Citizen Apartment, Rohini Sector 13",15500000,Resale,Apartment,6667.0
3,600.0,2,2.0,Semi-Furnished,Rohini Sector 24,4200000,Resale,Builder_Floor,6667.0
4,650.0,2,2.0,Semi-Furnished,Rohini Sector 24 carpet area 650 sqft status R...,6200000,New_Property,Builder_Floor,6667.0
...,...,...,...,...,...,...,...,...,...
1254,4118.0,4,5.0,Unfurnished,Chittaranjan Park,55000000,New_Property,Builder_Floor,12916.0
1255,1050.0,3,2.0,Semi-Furnished,Chittaranjan Park,12500000,Resale,Builder_Floor,12916.0
1256,875.0,3,3.0,Semi-Furnished,Chittaranjan Park,17500000,New_Property,Builder_Floor,12916.0
1257,990.0,2,2.0,Unfurnished,Chittaranjan Park Block A,11500000,Resale,Builder_Floor,12916.0
1258,11050.0,3,3.0,Unfurnished,Chittaranjan Park,18500000,New_Property,Builder_Floor,12916.0

In [8]:
df.isnull().sum()

Area             0
BHK              0
Bathroom         1
Furnishing       5
Locality         0
Price            0
Transaction      0
Type             5
Per_Sqft       227
dtype: int64

In [9]:
df

,Area,BHK,Bathroom,Furnishing,Locality,Price,Transaction,Type,Per_Sqft
0,800.0,3,2.0,Semi-Furnished,Rohini Sector 25,6500000,New_Property,Builder_Floor,NaN
1,750.0,2,2.0,Semi-Furnished,"J R Designers Floors, Rohini Sector 24",5000000,New_Property,Apartment,6667.0
2,950.0,2,2.0,Furnished,"Citizen Apartment, Rohini Sector 13",15500000,Resale,Apartment,6667.0
3,600.0,2,2.0,Semi-Furnished,Rohini Sector 24,4200000,Resale,Builder_Floor,6667.0
4,650.0,2,2.0,Semi-Furnished,Rohini Sector 24 carpet area 650 sqft status R...,6200000,New_Property,Builder_Floor,6667.0
...,...,...,...,...,...,...,...,...,...
1254,4118.0,4,5.0,Unfurnished,Chittaranjan Park,55000000,New_Property,Builder_Floor,12916.0
1255,1050.0,3,2.0,Semi-Furnished,Chittaranjan Park,12500000,Resale,Builder_Floor,12916.0
1256,875.0,3,3.0,Semi-Furnished,Chittaranjan Park,17500000,New_Property,Builder_Floor,12916.0
1257,990.0,2,2.0,Unfurnished,Chittaranjan Park Block A,11500000,Resale,Builder_Floor,12916.0
1258,11050.0,3,3.0,Unfurnished,Chittaranjan Park,18500000,New_Property,Builder_Floor,12916.0

In [10]:
df.dropna(subset = ["Bathroom","Furnishing","Per_Sqft"], inplace = True)

In [11]:
df.head()

,Area,BHK,Bathroom,Furnishing,Locality,Price,Transaction,Type,Per_Sqft
1,750.0,2,2.0,Semi-Furnished,"J R Designers Floors, Rohini Sector 24",5000000,New_Property,Apartment,6667.0
2,950.0,2,2.0,Furnished,"Citizen Apartment, Rohini Sector 13",15500000,Resale,Apartment,6667.0
3,600.0,2,2.0,Semi-Furnished,Rohini Sector 24,4200000,Resale,Builder_Floor,6667.0
4,650.0,2,2.0,Semi-Furnished,Rohini Sector 24 carpet area 650 sqft status R...,6200000,New_Property,Builder_Floor,6667.0
5,1300.0,4,3.0,Semi-Furnished,Rohini Sector 24,15500000,New_Property,Builder_Floor,6667.0

In [12]:
df["Locality"].unique()

array(['J R Designers Floors, Rohini Sector 24',
       'Citizen Apartment, Rohini Sector 13', 'Rohini Sector 24',
       'Rohini Sector 24 carpet area 650 sqft status Ready to Move floor 4 out of 4 floors transaction New Property furnishing Semi-Furnished facing East overlooking Garden/Park, Main Road car parking 1 Open bathroom 2 balcony 1 ownership Freehold Newly Constructed Property Newly Constructed Property East Facing Property 2BHK Newly build property for Sale. A House is waiting for a Friendly Family to make it a lovely home.So please come and make his house feel alive once again. read more Contact Agent View Phone No. Share Feedback Garima properties Certified Agent Trusted by Users Genuine Listings Market Knowledge',
       'Delhi Homes, Rohini Sector 24', 'Rohini Sector 21',
       'Rohini Sector 22', 'Rohini Sector 20', 'Rohini Sector 25',
       'Rohini Sector 8 How Auctions work? The borrower has the physical possession of the Property. However the lender (Bank) can legally sell the Property. super area 32 sqm status Ready to Move floor 1 transaction Resale furnishing Semi-Furnished Contact Now Enquire Now Auction By',
       'Rohini Sector 25 carpet area 660 sqft status Ready to Move floor 2 out of 4 floors transaction New Property furnishing Semi-Furnished facing North overlooking Garden/Park, Main Road car parking 1 Open bathroom 2 balcony 1 ownership Freehold Newly Constructed Property Newly Constructed Property Near by Ryan international school 2BHK Located on the Ground Floor of a four story building with open parking the flat measure 720 Sq Ft the property is located in a green and plush sector with common parks opposite every lane and bus and auto stand nearby. its situated 1.5 km from the metro station and walkable distance from shopping distance from shopping complex. read more Contact Agent View Phone No. Share Feedback Know your Certified Agent CRISIL Rating No of Employees 9 Kulwant & Company Certified Agent Trusted by Users Genuine Listings 5500+ Buyers Served',
       'Rohini Sector 16', 'Rohini Sector 14',
       'Mayur Apartment, Rohini Sector 9', 'Vijay Vihar, Rohini',
       'Rohini Sector 18 carpet area 40 sqm status Ready to Move floor 2 out of 4 floors transaction Resale furnishing Furnished facing East overlooking Main Road car parking 2 Open bathroom 1 balcony 1 ownership Freehold East Facing Property It an LIG three side corner flat in second floor, having full scope of expansion. interior decorated with 2 textured wall , kajaria tiles , fully modular kitchen, branded bathroom and toilet fittings, LED panel, ac in one bedroom, false ceiling in entire flat.south facing unobstructed view balcony. It was all renovated only 2.5 yrs back so every thing is in brand new condition. read more Contact Owner View Phone No. Share Feedback Owner Pramod',
       'Prashant Vihar, Rohini', 'Rohini Sector 5',
       'Sanskriti Apartment, Rohini Sector 28', 'Rohini Sector 19',
       'Amar Colony, Lajpat Nagar', 'Vikram Vihar, Lajpat Nagar',
       'Lajpat Nagar 2', 'Lajpat Nagar 3', 'Lajpat Nagar 1',
       'Lajpat Nagar', 'Siddhartha Heights, Dwarka Sector 24',
       'MTNL Employees House Welfare Society, Dwarka Sector 24',
       'Delhi Homes Yojana, Dwarka Sector 24',
       'The Elite Spire, Dwarka Sector 21',
       'Kunj Vihar Apartment, Dwarka Sector 12',
       'Ashirwad Apartments, Dwarka Sector 12',
       'Sunny Valley Apartments, Dwarka',
       'Shri Agrasen Apartment, Dwarka Sector 7',
       'Chopra Apartment, Dwarka Sector 23',
       'Mohinder Apartments, Dwarka Sector 12',
       'Chander Lok Apartment, Dwarka Sector 19',
       'Neelachal, Dwarka Sector 5', 'Dwarka',
       'MeeraBai Apartment, Dwarka Sector 5',
       'Crescent Apartments, Dwarka Sector 18',
       'Ashoka Enclave Apartment, Dwarka Sector 11',
       'Nav Kairali Apartment, Dwarka Sector 3',
       'Ashirwad Apartments, Dwarka',
       'Indraprastha Apartment, Dwarka Sector 12',
       'Mohinder Apartments, Dwarka',
       'Ashoka Apartments, Dwarka Sector 12',
       'Karuna Vihar Apartment, Dwarka', 'LNT Apartments, Dwarka',
       'Dwarka Sector 4',
       'Dwarka Sector 3 carpet area 400 sqft status Ready to Move floor 1 out of 4 floors transaction New Property furnishing Semi-Furnished facing West overlooking Main Road bathroom 1 balcony 1 ownership Freehold Newly Constructed Property 1BHK freehold property , reserved parking, ample space for visitor parking, bathrooms with modern facilities, complete light in all room, wooden wardrobes in bedrooms, separate electric & water meter connection, separate water tank at roof, electronic door lock system with intercom facility, wall to wall POP work, fall ceiling work in all rooms, royal paint work in all rooms, 24X7 running water, branded electric fittings, modular kitchen with electronic chimney, marble vitrified tile flooring, near to metro station, well connected to main road ect. 80 to 90 home loan available. Ready to move read more Contact Agent View Phone No. Share Feedback Agent S.B. Associates 4000+ Buyers Served',
       'Dwarka Sector 16B', 'Vinoba Puri, Lajpat Nagar',
       'Budh Vihar super area 50 sqyrd status Ready to Move floor Ground out of 2 floors transaction Resale furnishing Unfurnished facing East car parking 1 Open bathroom 1 balcony 2 ownership Freehold For Sale 2 BHK 50 yrd, 2 side open Ground Floor, First and Second Floor in H Block, Gali No. 04, Near Laxmi Narain Mandir, BudhVihar read more Contact Agent View Phone No. Share Feedback Agent Sahyog Properties 1000+ Buyers Served',
       'Budh Vihar Phase 1', 'Budh Vihar', 'Budh Vihar Phase 2',
       'Saptrishi Apartment, Rohini Sector 23', 'Rohini Sector 23',
       'The Leela Sky Villas, Patel Nagar',
       'Uttam Nagar Floors, Uttam Nagar', 'Virat Residency, Dwarka Mor',
       'Find Homes, Greater Kailash 2', 'Adarsh Homes, Dwarka Mor',
       'Kushwaha Homes, Uttam Nagar', 'Godrej South Estate, Okhla',
       'APL Builder Floor, Greater Kailash 1', 'Janakpuri Block A3',
       'Greater Kailash 2', 'Partap Homes, Bhagwati Vihar, Uttam Nagar',
       'The Amaryllis, Karol Bagh',
       'Diamond Heights Multi Estate, Najafgarh',
       'Vasant Vihar Builder Floor, Vasant Vihar', 'Vasant Kunj',
       'Greater Kailash 1', 'Khanpur, Madangir', 'Batla House, Okhla',
       'New Friends Colony', 'Maharani Bagh, New Friends Colony',
       'New Friends Colony carpet area 4300 sqft status Ready to Move floor 2 out of 3 floors transaction Resale furnishing Unfurnished facing North - East overlooking Garden/Park, Main Road car parking 2 Covered, 2 Open bathroom 4 balcony 3 ownership Freehold hurry up... dont waste time any where, It is best deal in your pocket budget.well maintained second floor with terrace garden plus 2 additional room on terrace up for sale in new friends colony.the property has 4 king sized bedroom attached bathroom with roof top shower with Jacuzzi. It has 3 big balconies with wonderful outer view. It has modular kitchen with new fittings. It has servant quarter pooja room study room store room etc. It has drawing & dining. It has 2 car parking with gated society. It has 247 hours water supply with full power backup. It is in amazing location. read more Contact Agent View Phone No. Share Feedback Crisil Silver Agent Sagar Home Developers Pvt. Ltd. 1000+ Buyers Served',
       'Friends Colony East, New Friends Colony',
       'Friends Colony West, New Friends Colony',
       'Kalindi Colony, Maharani Bagh, New Friends Colony',
       'Taimoor Enclave, New Friends Colony carpet area 2800 sqft status Ready to Move floor 2 out of 3 floors transaction Resale furnishing Semi-Furnished facing East overlooking Garden/Park society Taimoor Enclave car parking 2 Covered, 1 Open bathroom 4 balcony 2 ownership Freehold Two floor of the house is available for sale SECOND AND THIRD FLOOR EXTRA made, provision for LIFT can be provided by the OWNER .DDA FLATS of TAIMOOR ENCLAVE, NEAR GURUDWARA, NEW FRIENDS COLONY, SOUTH DELHI , HOUSE IS ON THE SECOND FLOOR have 3 bed room and 2 wash room and and same on the Third Floor, URGENT SALE, BROKER EXCUSE. read more Contact Agent View Phone No. Share Feedback Agent Delhi Homes 100+ Buyers Served',
       'New Friends Colony Floors, New Friends Colony',
       'Kailash Colony, Greater Kailash', 'Naveen Shahdara, Shahdara',
       'Shahdara', 'Vishwas Nagar, Shahdara',
       'DDA RPS Flats, Mansarowar Park, Shahdara',
       'Yamuna Vihar, Shahdara', 'Balbir Nagar, Shahdara',
       'Ram Nagar, Shahdara', 'Rohtash Nagar, Shahdara',
       'Ram Nagar Extension, Shahdara', 'Maujpur, Shahdara',
       'Mansarowar Park, Shahdara', 'Gorakh Park West, Shahdara',
       'Shivnam Apartment, Shahdara',
       'Hans Apartments, Vishwas Nagar, Shahdara',
       'Jyoti Colony, Shahdara', 'Ahinsha Vatika, Ram Nagar, Shahdara',
       'mind. The space is airy, is well located and can be easily customized as per the needs. Prime facilities are easily accessible from this place with Government Girls Senior Secondary School No 2 (0 km ). Other key neighbourhood are B Block Market (0 km ). read more Contact Owner View Phone No. Share Feedback Owner vinod kumar',
       'Laxmi Nagar', 'Guru Angad Nagar West, Laxmi Nagar',
       'Lalita Park, Laxmi Nagar', 'Krishan Kunj, Laxmi Nagar',
       'Laxmi Nagar super area 450 sqft status Ready to Move floor 3 out of 4 floors transaction New Property furnishing Semi-Furnished facing East overlooking Main Road bathroom 2 balcony 1 ownership Freehold Newly Constructed Property East Facing Property This Builder Floor Apartment at 3rd faces East & overlooks Main Road offering a beautiful view from the house. with airy interiors. The type of ownership is Freehold. The Builder Floor Apartment is newly constructed. Bank loans available from LIC Housing Finance, Kotak Mahindra Bank, Indiabulls. Flooring of type Marble covers maximum part of the house. The location has easy access to, Dena Bank (0 km ), Delhi Convent School (0 km ), DDA Market (0 km ) and Nirman Vihar Metro Station (2 km ). read more Contact Owner View Phone No. Share Feedback Owner Sonia',
       "Laxmi Nagar carpet area 1000 sqft status Ready to Move floor 1 out of 4 floors transaction Resale furnishing Furnished bathroom 3 balcony 1 It's a 1st floor Builder Floor Apartment in a building of total 4 floors. The age of construction for this Builder Floor Apartment is between 10 to 15 years. The location has easy access to, Dena Bank (0 km ), Delhi Convent School (0 km ), DDA Market (0 km ) and Nirman Vihar Metro Station (2 km ). read more Contact Owner View Phone No. Share Feedback Owner Vipul Jain",
       'Bank Enclave, Laxmi Nagar', 'Dwarka Mor', 'Uttam Nagar West',
       'Uttam Nagar', 'SB Residency, Dwarka Mor',
       'Kiran Garden, Uttam Nagar', 'Mohan Garden, Razapur Khurd',
       'Mitya Homes, Dwarka Mor',
       'Uttam Nagar carpet area 550 sqft status Ready to Move transaction New Property furnishing Semi-Furnished facing East overlooking Main Road bathroom 2 balcony 1 ownership Freehold Newly Constructed Property Newly Constructed Property East Facing Property 2bhk fully furnished flats available for sale at uttam nagar, the flat is fully loaded, one singal wall texture in all bedrooms, modular kitchen, LED pannel in drawing room, wardrobes in bedroom read more Contact Agent View Phone No. Share Feedback Pranita Developers Pvt. Ltd. Certified Agent Trusted by Users Genuine Listings 100+ Buyers Served',
       'New Uttam Nagar, Uttam Nagar', 'Patel Nagar South, Patel Nagar',
       'Patel Nagar West', 'Patel Nagar East, Patel Nagar',
       'Punjabi Basti, Patel Nagar', 'Baljit Nagar, Patel Nagar',
       'DDA Flats Vasant Kunj, Vasant Kunj',
       'DDA Flats Sector E Pocket 1, Vasant Kunj',
       'DDA Flats Vasant Kunj, Vasant Kunj Sector D',
       'Vasant Kunj Sector A', 'E2 Vasant Kunj, Vasant Kunj',
       'Ganga Apartment Sector D Pocket 6, Vasant Kunj',
       'Vasant Kunj Sector C', 'Vasant Kunj Sector D',
       'DDA Flats Vasant Kunj, Vasant Kunj Sector C',
       'Kishangarh, Vasant Kunj', 'DDA Pocket 1, Vasant Kunj Sector D',
       'Vasant Kunj Sector B',
       'DDA Flats Mansarovar Park, Seelampur, Shahdara',
       'Seelampur, Shahdara', 'Shanti Mohalla, Shahdara',
       'Rajgarh Colony, Shahdara', 'Kanti Nagar East, Shahdara',
       'Raghubarpura, Shahdara', 'Sukhdev Vihar, Okhla', 'Geeta Colony',
       'Krishna Nagar Block A', 'Taj Enclave, Khairatabad',
       'Shastri Park, Shahdara', 'Sitaram Bazar, Chandni Chowk',
       'Shahdara How Auctions work? The borrower has the physical possession of the Property. However the lender (Bank) can legally sell the Property. super area 852 sqft status Ready to Move transaction Resale ownership Freehold bathroom 2 Contact Now Enquire Now Auction By',
       'Saket', 'Anupam Enclave, Saket', 'RWA Flats, Saket',
       'Metrotech Builder Floors, Saket',
       'Saket Court Residential Complex, Saket',
       'Press Enclave Society, Saket',
       'Project Paryavaran Complex, Saket', 'Safdarjung Enclave',
       "Safdarjung Enclave carpet area 1100 sqft status Ready to Move floor Ground out of 4 floors transaction Resale furnishing Unfurnished facing North - East overlooking Garden/Park, Main Road car parking 1 Covered, 1 Open bathroom 3 balcony 3 ownership Freehold if you are searching for your dream house, congratulation. you're not so far from your destiny. we got unbeatable ground floor in b-block safdarjung enclave for sale. it is in 150 yds. It has 3 large king sized bedroom attached bathroom with Jacuzzi and roof top shower with all other fittings. it has modular kitchen with all needed facility. it has 3 big balcony with amazing out side view. it has 1 servant quarter also. it has 1 reserved car parking with gated society. It has 24*7 water supply with full power backup. for more information contact us at once because it can be your dream house. read more Contact Agent View Phone No. Share Feedback Crisil Silver Agent Sagar Home Developers Pvt. Ltd. 1000+ Buyers Served",
       'Arjun Nagar, Safdarjung Enclave',
       'Krishna Nagar-Safdarjung Enclave',
       'Safdarjung Enclave carpet area 3250 sqft status Ready to Move floor 1 out of 4 floors transaction Resale furnishing Semi-Furnished facing North - East overlooking Garden/Park, Main Road car parking 1 Covered bathroom 4 balcony 3 ownership Freehold Near Buy Green park Metro station. The location of the property is Awesome and Peaceful. The construction is very Highend and Very tasteful Done-up. The Same property is location on the FF. 4 Side corner read more Contact Agent Enquire Now Share Feedback Crisil Silver Agent Findahouse Real Estate Consultants LLP 2000+ Buyers Served',
       'Safdarjung Enclave carpet area 290 sqyrd status Ready to Move floor 2 out of 3 floors transaction Resale furnishing Semi-Furnished facing West overlooking Main Road car parking 2 Open bathroom 4 balcony 3 ownership Freehold Opposite Deer Park.The property comes with independent Terrace. The area is centrally located and close to ring road which allows easy acess to all other areas.Renowned Delhi Lawn Tennis Association is within 10 minutes walking distance.Green park market is walkable distance. read more Contact Owner View Phone No. Share Feedback Owner Hemant pajankar',
       'Safdarjung Enclave carpet area 1450 sqft status Ready to Move floor 3 out of 4 floors transaction Resale furnishing Semi-Furnished facing North - East overlooking Garden/Park, Main Road car parking 1 Covered, 1 Open bathroom 3 balcony 2 ownership Freehold Park facing builder floor apartment available for sale in safderjung enclave, 3 bedroom with attached bathroom, drawing dinning, modular kitchen. the property is on the top floor of a four storey building with terrace right, servant quarter, 1 car parking in stilt. read more Contact Agent View Phone No. Share Feedback Agent Delhi Homes Realty 1000+ Buyers Served',
       'Safdarjung Enclave super area 2200 sqft status Ready to Move floor 2 out of 4 floors transaction New Property furnishing Semi-Furnished facing South overlooking Main Road car parking 3 Covered, 2 Open bathroom 4 balcony 3 ownership Freehold Newly Constructed Property Wide Road 450 Yards 2nd floor brand new 4 bhk attached bathrooms with full lighted and ventilated house.Most Valuable DealSEE TO BELIEVE read more Contact Agent View Phone No. Share Feedback Crisil Bronze Agent Panchsheel Homes 500+ Buyers Served',
       'Paschim Vihar Block B4',
       'Paschim Vihar How Auctions work? The borrower has the physical possession of the Property. However the lender (Bank) can legally sell the Property. carpet area 780 sqft status Ready to Move floor Ground out of 3 floors transaction Resale furnishing Unfurnished facing West bathroom 2 balcony 1 ownership Freehold Contact Now Enquire Now Auction By Bank',
       'DDA Lig Flats, Paschim Vihar carpet area 45 sqyrd status Ready to Move floor 4 out of 4 floors transaction Resale furnishing Semi-Furnished facing East overlooking Garden/Park, Main Road society DDA Lig Flats bathroom 1 balcony 1 ownership Freehold East Facing Property Expected price for the Flat is kept at 45 Lac. This is a 1 bedroom apartment present in DDA Lig Flats, Paschim Vihar. It measures an area of 45 Sq-m. It is on 4 floor out of 4 floors in the tower and is also well ventilated. The Flat has 1 washroom and also has 1 spacious balcony. read more Contact Owner View Phone No. Share Feedback Owner Anil',
       'Paschim Vihar', 'Archana Apartment, Paschim Vihar',
       'Guru Harikishan Nagar, Paschim Vihar',
       'Paschimpuri, Paschim Vihar', 'Mianwali Nagar, Paschim Vihar',
       'Navbharat Apartment, Paschim Vihar Block B1',
       'Paschim Vihar Block A2', 'LIC Colony, Paschim Vihar',
       'DDA Lig Flats, Paschim Vihar', 'Pushkar Enclave, Paschim Vihar',

In [13]:
df["Locality"] = df["Locality"].apply(lambda x : x.split(",")[-1])

In [14]:
df = df[df['Locality'].str.len() < 50]

In [15]:
df["Locality"] = df["Locality"].apply(lambda x: x.strip())

C:\Users\Siddharth\AppData\Local\Temp\ipykernel_14408\3666457496.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Locality"] = df["Locality"].apply(lambda x: x.strip())

In [16]:
df["Locality"] = df["Locality"].apply(lambda x: x.split()[0:2])

C:\Users\Siddharth\AppData\Local\Temp\ipykernel_14408\4044204170.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Locality"] = df["Locality"].apply(lambda x: x.split()[0:2])

In [17]:
df["Locality"] = df["Locality"].apply(lambda x: ",".join(x))

C:\Users\Siddharth\AppData\Local\Temp\ipykernel_14408\4022895052.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Locality"] = df["Locality"].apply(lambda x: ",".join(x))

In [18]:
df["Locality"] = df["Locality"].apply(lambda x: x.replace(","," "))

C:\Users\Siddharth\AppData\Local\Temp\ipykernel_14408\419401643.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Locality"] = df["Locality"].apply(lambda x: x.replace(","," "))

In [19]:
df

,Area,BHK,Bathroom,Furnishing,Locality,Price,Transaction,Type,Per_Sqft
1,750.0,2,2.0,Semi-Furnished,Rohini Sector,5000000,New_Property,Apartment,6667.0
2,950.0,2,2.0,Furnished,Rohini Sector,15500000,Resale,Apartment,6667.0
3,600.0,2,2.0,Semi-Furnished,Rohini Sector,4200000,Resale,Builder_Floor,6667.0
5,1300.0,4,3.0,Semi-Furnished,Rohini Sector,15500000,New_Property,Builder_Floor,6667.0
6,1350.0,4,3.0,Semi-Furnished,Rohini Sector,10000000,Resale,Builder_Floor,6667.0
...,...,...,...,...,...,...,...,...,...
1254,4118.0,4,5.0,Unfurnished,Chittaranjan Park,55000000,New_Property,Builder_Floor,12916.0
1255,1050.0,3,2.0,Semi-Furnished,Chittaranjan Park,12500000,Resale,Builder_Floor,12916.0
1256,875.0,3,3.0,Semi-Furnished,Chittaranjan Park,17500000,New_Property,Builder_Floor,12916.0
1257,990.0,2,2.0,Unfurnished,Chittaranjan Park,11500000,Resale,Builder_Floor,12916.0
1258,11050.0,3,3.0,Unfurnished,Chittaranjan Park,18500000,New_Property,Builder_Floor,12916.0

In [20]:
df.sort_values(["Per_Sqft"],ascending = False).head(10)

,Area,BHK,Bathroom,Furnishing,Locality,Price,Transaction,Type,Per_Sqft
104,2700.0,4,4.0,Semi-Furnished,Lajpat Nagar,55000000,Resale,Builder_Floor,183333.0
105,1400.0,3,3.0,Unfurnished,Lajpat Nagar,24500000,Resale,Builder_Floor,183333.0
106,1800.0,3,3.0,Unfurnished,Lajpat Nagar,24500000,Resale,Apartment,183333.0
107,1400.0,3,3.0,Semi-Furnished,Lajpat Nagar,32500000,New_Property,Builder_Floor,183333.0
1211,4350.0,4,6.0,Semi-Furnished,Hauz Khas,135000000,New_Property,Apartment,170000.0
1212,1750.0,3,3.0,Unfurnished,Hauz Khas,35000000,Resale,Builder_Floor,170000.0
1209,4500.0,4,5.0,Semi-Furnished,Hauz Khas,85000000,New_Property,Builder_Floor,170000.0
1210,6500.0,4,5.0,Unfurnished,Hauz Khas,190000000,New_Property,Builder_Floor,170000.0
430,100.0,3,2.0,Semi-Furnished,Patel Nagar,16000000,Resale,Apartment,160000.0
1037,1143.0,2,2.0,Unfurnished,Karol Bagh,16000000,Resale,Apartment,125984.0

In [21]:
df.head()

,Area,BHK,Bathroom,Furnishing,Locality,Price,Transaction,Type,Per_Sqft
1,750.0,2,2.0,Semi-Furnished,Rohini Sector,5000000,New_Property,Apartment,6667.0
2,950.0,2,2.0,Furnished,Rohini Sector,15500000,Resale,Apartment,6667.0
3,600.0,2,2.0,Semi-Furnished,Rohini Sector,4200000,Resale,Builder_Floor,6667.0
5,1300.0,4,3.0,Semi-Furnished,Rohini Sector,15500000,New_Property,Builder_Floor,6667.0
6,1350.0,4,3.0,Semi-Furnished,Rohini Sector,10000000,Resale,Builder_Floor,6667.0

In [22]:
df["Per_Sqft"].describe()

count       908.000000
mean      15707.594714
std       21764.220844
min        1259.000000
25%        6444.250000
50%       10890.500000
75%       18000.000000
max      183333.000000
Name: Per_Sqft, dtype: float64

In [23]:
Q1 = df["Per_Sqft"].quantile(0.25)
Q3 = df["Per_Sqft"].quantile(0.75)
IQR = Q3 - Q1
lower_limit = Q1 - 1.5 * IQR
upper_limit = Q3 + 1.5 * IQR
df_new = df[(df["Per_Sqft"] >= lower_limit) & (df["Per_Sqft"] <= upper_limit)]

In [24]:
df_new

,Area,BHK,Bathroom,Furnishing,Locality,Price,Transaction,Type,Per_Sqft
1,750.0,2,2.0,Semi-Furnished,Rohini Sector,5000000,New_Property,Apartment,6667.0
2,950.0,2,2.0,Furnished,Rohini Sector,15500000,Resale,Apartment,6667.0
3,600.0,2,2.0,Semi-Furnished,Rohini Sector,4200000,Resale,Builder_Floor,6667.0
5,1300.0,4,3.0,Semi-Furnished,Rohini Sector,15500000,New_Property,Builder_Floor,6667.0
6,1350.0,4,3.0,Semi-Furnished,Rohini Sector,10000000,Resale,Builder_Floor,6667.0
...,...,...,...,...,...,...,...,...,...
1254,4118.0,4,5.0,Unfurnished,Chittaranjan Park,55000000,New_Property,Builder_Floor,12916.0
1255,1050.0,3,2.0,Semi-Furnished,Chittaranjan Park,12500000,Resale,Builder_Floor,12916.0
1256,875.0,3,3.0,Semi-Furnished,Chittaranjan Park,17500000,New_Property,Builder_Floor,12916.0
1257,990.0,2,2.0,Unfurnished,Chittaranjan Park,11500000,Resale,Builder_Floor,12916.0
1258,11050.0,3,3.0,Unfurnished,Chittaranjan Park,18500000,New_Property,Builder_Floor,12916.0

In [25]:
df_new = df_new[~(df_new.Area/df_new.BHK<300)]
df_new

,Area,BHK,Bathroom,Furnishing,Locality,Price,Transaction,Type,Per_Sqft
1,750.0,2,2.0,Semi-Furnished,Rohini Sector,5000000,New_Property,Apartment,6667.0
2,950.0,2,2.0,Furnished,Rohini Sector,15500000,Resale,Apartment,6667.0
3,600.0,2,2.0,Semi-Furnished,Rohini Sector,4200000,Resale,Builder_Floor,6667.0
5,1300.0,4,3.0,Semi-Furnished,Rohini Sector,15500000,New_Property,Builder_Floor,6667.0
6,1350.0,4,3.0,Semi-Furnished,Rohini Sector,10000000,Resale,Builder_Floor,6667.0
...,...,...,...,...,...,...,...,...,...
1253,1200.0,3,3.0,Semi-Furnished,Chittaranjan Park,16500000,Resale,Builder_Floor,12916.0
1254,4118.0,4,5.0,Unfurnished,Chittaranjan Park,55000000,New_Property,Builder_Floor,12916.0
1255,1050.0,3,2.0,Semi-Furnished,Chittaranjan Park,12500000,Resale,Builder_Floor,12916.0
1257,990.0,2,2.0,Unfurnished,Chittaranjan Park,11500000,Resale,Builder_Floor,12916.0
1258,11050.0,3,3.0,Unfurnished,Chittaranjan Park,18500000,New_Property,Builder_Floor,12916.0

In [26]:
df_new = df_new[((df_new.Area*df_new.Per_Sqft)*0.7) <= (df_new.Price)]

In [27]:
location_dummies = pd.get_dummies(df_new.Locality,drop_first=True)
Furnishing_dummies = pd.get_dummies(df_new.Furnishing,drop_first=True)
Transaction_dummies = pd.get_dummies(df_new.Transaction,drop_first=True)

In [28]:
df_new = pd.concat([df_new,location_dummies,Furnishing_dummies,Transaction_dummies],axis ="columns")

In [29]:
df_new["Price_log"] = np.log(df_new["Price"])

In [30]:
df_new

,Area,BHK,Bathroom,Furnishing,Locality,Price,Transaction,Type,Per_Sqft,Alaknanda,...,Sultanpur,Sultanpur Extension,Uttam Nagar,Vasant Kunj,Vasant Vihar,Vasundhara Enclave,Semi-Furnished,Unfurnished,Resale,Price_log
1,750.0,2,2.0,Semi-Furnished,Rohini Sector,5000000,New_Property,Apartment,6667.0,0,...,0,0,0,0,0,0,1,0,0,15.424948
2,950.0,2,2.0,Furnished,Rohini Sector,15500000,Resale,Apartment,6667.0,0,...,0,0,0,0,0,0,0,0,1,16.556351
3,600.0,2,2.0,Semi-Furnished,Rohini Sector,4200000,Resale,Builder_Floor,6667.0,0,...,0,0,0,0,0,0,1,0,1,15.250595
5,1300.0,4,3.0,Semi-Furnished,Rohini Sector,15500000,New_Property,Builder_Floor,6667.0,0,...,0,0,0,0,0,0,1,0,0,16.556351
6,1350.0,4,3.0,Semi-Furnished,Rohini Sector,10000000,Resale,Builder_Floor,6667.0,0,...,0,0,0,0,0,0,1,0,1,16.118096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1252,1800.0,3,3.0,Semi-Furnished,Kalkaji,26000000,Resale,Builder_Floor,12916.0,0,...,0,0,0,0,0,0,1,0,1,17.073607
1253,1200.0,3,3.0,Semi-Furnished,Chittaranjan Park,16500000,Resale,Builder_Floor,12916.0,0,...,0,0,0,0,0,0,1,0,1,16.618871
1254,4118.0,4,5.0,Unfurnished,Chittaranjan Park,55000000,New_Property,Builder_Floor,12916.0,0,...,0,0,0,0,0,0,0,1,0,17.822844
1255,1050.0,3,2.0,Semi-Furnished,Chittaranjan Park,12500000,Resale,Builder_Floor,12916.0,0,...,0,0,0,0,0,0,1,0,1,16.341239
1257,990.0,2,2.0,Unfurnished,Chittaranjan Park,11500000,Resale,Builder_Floor,12916.0,0,...,0,0,0,0,0,0,0,1,1,16.257858

In [31]:
df_new = df_new.drop(["Furnishing","Locality","Transaction","Type"],axis = "columns")

In [32]:
x = df_new.drop(["Price","Price_log"],axis= "columns")
x

,Area,BHK,Bathroom,Per_Sqft,Alaknanda,Budh Vihar,Chandni Chowk,Chhattarpur,Chhattarpur Enclave,Chittaranjan Park,...,Sheikh Sarai,Sultanpur,Sultanpur Extension,Uttam Nagar,Vasant Kunj,Vasant Vihar,Vasundhara Enclave,Semi-Furnished,Unfurnished,Resale
1,750.0,2,2.0,6667.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,950.0,2,2.0,6667.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,600.0,2,2.0,6667.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
5,1300.0,4,3.0,6667.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6,1350.0,4,3.0,6667.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1252,1800.0,3,3.0,12916.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
1253,1200.0,3,3.0,12916.0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
1254,4118.0,4,5.0,12916.0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
1255,1050.0,3,2.0,12916.0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
1257,990.0,2,2.0,12916.0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,1

In [33]:
y = df_new["Price_log"]
y

1       15.424948
2       16.556351
3       15.250595
5       16.556351
6       16.118096
          ...
1252    17.073607
1253    16.618871
1254    17.822844
1255    16.341239
1257    16.257858
Name: Price_log, Length: 651, dtype: float64

In [34]:
from sklearn.model_selection import train_test_split

In [48]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.4)

In [49]:
from sklearn.linear_model import LinearRegression
lrReg = LinearRegression()
lrReg.fit(x_train,y_train)
lrReg.score(x_test,y_test)

0.8761049213887616

In [37]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

In [38]:
cv = ShuffleSplit(n_splits=5,test_size=0.4, random_state= 0)
cross_val_score(LinearRegression(),x,y,cv=cv)

array([0.86802886, 0.88915233, 0.87019636, 0.86596829, 0.90150362])

In [39]:
np.exp(lrReg.predict(x_test)[2])

13896783.233114934

In [40]:
x_test

,Area,BHK,Bathroom,Per_Sqft,Alaknanda,Budh Vihar,Chandni Chowk,Chhattarpur,Chhattarpur Enclave,Chittaranjan Park,...,Sheikh Sarai,Sultanpur,Sultanpur Extension,Uttam Nagar,Vasant Kunj,Vasant Vihar,Vasundhara Enclave,Semi-Furnished,Unfurnished,Resale
286,1500.0,3,3.0,20833.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1224,5400.0,4,4.0,17677.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
475,1184.0,2,2.0,14358.0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,1
288,4500.0,4,4.0,20833.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
876,390.0,1,1.0,5128.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,650.0,2,2.0,6154.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
109,8000.0,4,5.0,20000.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
266,2700.0,4,4.0,23529.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
957,1000.0,3,3.0,9500.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
462,1200.0,3,2.0,20833.0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,1

In [41]:
from sklearn import svm

In [42]:
reg = svm.SVR()
reg.fit(x_train,y_train)

SVR()

In [43]:
reg.score(x_test,y_test)

0.770760080280423

In [44]:
cv = ShuffleSplit(n_splits=5,test_size=0.4, random_state= 0)
cross_val_score(svm.SVR(),x,y,cv=cv)

array([0.75788995, 0.76700426, 0.79356461, 0.79114712, 0.83853783])

In [45]:
np.exp(reg.predict(x_test)[2])

19183479.473043177